/* 暗黑样式
--------------------------- */
html[class='dark'] {
	--mxg-color-white: #fff;
  --mxg-color-black: #0f121d;
  --mxg-color-primary: #1966ff;
	--mxg-border-color: #333333;

	--mxg-color-hover: #3c3c3c;
	--mxg-color-hover-rgba: rgba(0, 0, 0, .9);
	
  // 左侧菜单
  --mxg-bg-menuMainColor: var(--mxg-color-black) !important;
  --mxg-bg-menuActiveColor: var(--mxg-color-primary) !important;
  --mxg-bg-menuHoverColor: #2e436e !important;

  --mxg-text-menuMainColor: var(--mxg-color-white) !important;
  --mxg-text-menuActiveColor: var(--mxg-color-white) !important;
  --mxg-text-menuHoverColor: var(--mxg-color-white) !important;

  // 头部导航
  --mxg-bg-headerBarColor: var(--mxg-color-black) !important;

	// 头部右侧图标光标浮动
	--mxg-color-user-hover: var(--mxg-color-hover-rgba) !important;
	
  // 边框
  --mxg-border-color-light: var(--mxg-border-color) !important;


  /* wangeditor 富文本编辑器 - css vars
  --------------------------- */
  --w-e-toolbar-bg-color: var(--el-bg-color) !important;
	--w-e-toolbar-color: var(--el-text-color-primary) !important;
  // 工具栏浮动显示
  --w-e-toolbar-active-color: var(--el-text-color-primary) !important;
	--w-e-toolbar-active-bg-color: var(--el-color-primary-light-9) !important;
  --w-e-toolbar-border-color: var( --mxg-border-color) !important;
  // 内容区域
  --w-e-textarea-bg-color: var(--el-bg-color) !important;
  --w-e-textarea-color: var(--el-text-color-primary) !important;
}